@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap');

.navbar a:hover {
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #FFB140;
}

.navbar .home-link{
  left: 800px;
}

.navbar .home-link a {
  color: #040404;
  font-size: 20px;
  font-weight: bold;
}

.navbar .home-link a:hover {
    color: black;
}

.navbar .links {
  margin-left: auto;
  display: flex;
  /*justify-content: flex-start; /*讓連結從左側開始水平排列*/
}

.filter-link :hover {
  color: #ffffff;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #000;
}

.search-bar {
  position: relative;
  width: 400px;
  margin: auto;
  display: inline-flex;
  left: 200px;
}

.search_icon{
  margin: 10px;
}
.search_icon:hover {
  cursor: pointer; /* 鼠標變成手指狀態 */
}