@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
